<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <listeners>-->
<!--        <listener class-name="utils.TestListener"></listener>-->
<!--    </listeners>-->
    <test verbose="2" thread-count="4" preserve-order="true" name="Basic tests in Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="testrunners.TestRunner"></class>
        </classes>
    </test>
    <test verbose="2" thread-count="4" preserve-order="true" name="Basic tests in Firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="testrunners.TestRunner"></class>
        </classes>
    </test>
</suite>